<header>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner ">
       <%= link_to "CodeMesher", '#', {class: "brand"}%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "help", '#'%></li>
          <li><%= link_to "login", 'signup' %></li>
        </ul>
      </nav>
  </div>
  </div>
</header>
